<aside>
	<div class="container">
		<nav>
			<label for="menu-toggle"><i class="fa fa-bars"></i> Menú</label>
			<input type="checkbox" name="menu" id="menu-toggle">
			<ul>
				{% for page in site.pages %} 
					{% if page.title %}
						<li>
							<a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
						</li>
					{% endif %} 
				{% endfor %}
				<li><a href="{{ site.url }}">Blog</a><li>
			</ul>
		</nav>
	</div>
</aside>

<header>
	<h1><a href="{{ site.url }}"><img src="/assets/Logo.png" alt="Logo Sitio Web"></a></h1>
</header>